
.Disp_grid{
    display: grid;
}
.label{
    width: 120%;    
}
button{
    width: 50%;
    margin-left: 150px;
    background-color: #1DBEB4;
}
.search-block form{
    grid-template-columns: repeat(3, 1fr);   
}
.form-inputs{
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.DisplayOff{
    display: none;
}

#inSearch{
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    background-color: blanchedalmond;
}

#inSearch img{
    grid-column: 1/2;
    grid-row: 2/2;
}


#inSearch h4{
    grid-column: 2/2;
    grid-row: 1/2;
}


#inSearch h6{
    grid-column: 2/2;
    grid-row: 2/3;
}