body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar{
  border-radius: 1rem;
}

@media only screen and (max-width: 1400px) {
  .react-calendar--doubleView{
      width: 70% !important;
      margin: auto;
  }
}

@media only screen and (max-width: 481px) {
  .react-calendar{
    /* width: 70% !important; */
    /* position: relative; */
    margin: auto;
}
}
