.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: auto;
    background-color:transparent;
    background: radial-gradient(circle at 100%,  #a7afc7,#4C3B71 50%, #a7afc7, #4C3B71 75%);
}

