
.search-block {    
    grid-template-columns: repeat(1, 1fr);    
    grid-gap: 10px; 
    background: #545776;    
    height:auto;
    padding-bottom: 5%;
    text-align: center;       
}

#titleSearch h1{    
    margin-bottom: 0px;
    color: #FFFFFF;
}

/*________________________________________Tablet_______________________*/


