.searchP{
    margin: 1vw;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
}

.searchBlock {   
    padding-top: 2.4vh;
    grid-template-columns: repeat(1, 1fr);    
    grid-gap: 10px;      
    height:auto;
    padding-bottom:1.5vh;
    text-align: center;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
    background-color: transparent;
    box-shadow: rgba(167, 175, 199, 0.4) 0px 5px, rgba(167, 175, 199, 0.3) 0px 10px, rgba(167, 175, 199, 0.2) 0px 15px, rgba(167, 175, 199, 0.1) 0px 20px, rgba(167, 175, 199, 0.05) 0px 25px;
}

#titleSearch h1{    
    margin: 0;
    color: azure
}

/*________________________________________Tablet_______________________*/

@media only screen and (max-width: 590px){
    .searchBlock {   
        height:auto;        
    }
}
